.answer {
  font-size: larger;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px 10px;
}

.asklink a {
  text-decoration: none;
  color: red;
  margin-left: 30px;
}

.ask {
  font-size: larger;
}

.conversation {
  background-color: lightyellow;
  padding: 10px 10px;
}
